/* Reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Variables */
:root {
  --purple100: hsl(254, 88%, 90%);
  --purple500: hsl(256, 67%, 59%);
  --yellow100: hsl(31, 66%, 93%);
  --yellow500: hsl(39, 100%, 71%);
  --bodyGray: rgb(240, 240, 240);

  --pading-top: 10px;
  --pading-bottom: 10px;
}

/* Font */
@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-VariableFont_opszwght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-VariableFont_opszwght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Global Elements */
img {
  max-width: 100%;
  /*  margin: 5px auto; */
  height: auto;
  display: block;
  padding-top: var(--pading-top);
}

svg {
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
  vertical-align: middle;
}

body {
  background-color: var(--bodyGray);
}

/* UTILITIES */

.padding {
  padding: 16px 20px;
}
.font-color-purple {
  color: var(--purple500);
}

.font-italic {
  font-style: italic;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.border-radius {
  border-radius: 15px;
}
.text-align-left {
  text-align: left;
}
.max-width-240 {
  max-width: 240px;
}

/* ====LAYOUT==== */
/*mobile*/
.container {
  max-width: 95%;
  margin: 20px auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;
  gap: 1rem;
}

.grid > * {
  width: 100%;
  min-width: 0;
}

/* Typography */
h1,
h2,
figcaption,
button {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
h1 {
  line-height: 1;
}
h1 {
  font-size: 3rem;
  text-align: center;
  color: white;
}

h2 {
  font-size: 1.8rem;
  padding-top: var(--pading-top);
  letter-spacing: -1px;
  line-height: 0.9;
}

figcaption {
  font-size: 18px;
  text-align: center;
}

.yellow-font {
  color: var(--yellow500);
}

.light-purple-font {
  color: var(--purple100);
}

.italic {
  font-style: italic;
}

/* ELEMENTS */
.title {
  background-color: var(--purple500);
  display: flex;
  flex-direction: column;
  padding: 50px 35px;
}
.title figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stars {
  width: 200px;
}
.social {
  background-color: white;
}

.posting-schedule {
  background-color: var(--yellow500);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-height: 230px;
  overflow: hidden;
}
#calendar-figure {
  padding-top: var(--pading-top);
}
#calendar-img {
  height: auto;
  width: 200px;
}
.social-media-post-schedule {
  background-color: var(--purple100);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-post-schedule figure {
  padding-top: var(--pading-top);
  padding-bottom: var(--pading-bottom);
  display: flex;
  flex-direction: column;
}

.social-media-post-schedule figcaption {
  padding: 20px;
}

.follower-growth {
  background-color: var(--purple500);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#zoomPercent {
  font-size: 3rem;
}

.audience-growth {
  background-color: white;
}
#profile-imgs {
  width: 200px;
}
.create-content {
  background-color: var(--yellow100);
}

#btn {
  border: none;
  max-width: 280px;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--yellow500);
  padding: 15px 25px;
  border-radius: 40px;
  flex-grow: 0;
  margin-top: 20px;
}

.ai-content {
  background-color: var(--yellow500);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
#ai-chat-img {
  width: 220px;
  height: auto;
}

.attribution {
  max-width: 375px;
  margin: 10px auto;
  color: var(--purple100);
  background-color: white;
  border: 1px solid var(--yellow500);
  text-align: center;
}

.attribution a {
  color: var(--purple500);
  text-decoration: none;
}

/* MEDIA QUERIES */

@media (min-width: 1024px) {
  .container {
    margin: 40px auto;
    max-width: 1000px;
    max-height: 1000px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-auto-rows: auto;
  }
  #subgrid1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  #subgrid2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }

  .item1 {
    grid-column: 1 /3;
    grid-row: 1 /2;
  }

  .item2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .item3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .item4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .item5 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .item6 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 1 / 2;
  }

  .grid8 {
    grid-column: 1/2;
    grid-row: 1 / 2;
  }

  h1 {
    line-height: 1.1;
  }

  h2 {
    font-size: 2.1rem;
    line-height: 0.8;
  }

  .create-content {
    justify-content: center;
  }

  .posting-schedule {
    max-height: 240px;
  }

  .social {
    display: flex;
    flex-direction: column;
  }

  #social-links {
    width: 300px;
  }

  .social-media-post-schedule {
    padding-right: 0;
    padding-bottom: 0;
    align-items: start;
  }

  .social-media-post-schedule figcaption {
    text-align: left;
    padding-left: 0;
  }
  .social-media-post-schedule figure {
    max-width: 100%;
  }

  .image-bleed {
    overflow: hidden;
  }
  .image-bleed img {
    max-width: none;
    max-height: none;
  }
  #calendar-img {
    width: auto;
    height: 160px;
  }

  #best-time-to-post-img {
    width: 350px;
  }
  .audience-growth figcaption {
    padding-bottom: 30px;
    line-height: 1.5;
  }

  .follower-growth {
    flex-direction: row;
    text-align: left;
  }

  .attribution {
    max-width: 375px;
    margin: 10px auto;
  }
}
